*.*
*.db
build/
devel/
model/backup

!*.cpp
!*.cc
!*.c

!*.h
!*.hpp

!*.ipynb
!*.py

!*.pt
!*.xml

!*.sh

!*.yaml
!*.yml
!*.launch
!*.msg
!*.srv
!*.action
!.gitignore
!*.md
!*.json
!CMakeLists.txt
!.vscode/